/*

                                      .,,,;;,'''..
                                  .'','...     ..',,,.
                                .,,,,,,',,',;;:;,.  .,l,
                               .,',.     ...     ,;,   :l.
                              ':;.    .'.:do;;.    .c   ol;'.
       ';;'                   ;.;    ', .dkl';,    .c   :; .'.',::,,'''.
      ',,;;;,.                ; .,'     .'''.    .'.   .d;''.''''.
     .oxddl;::,,.             ',  .'''.   .... .'.   ,:;..
      .'cOX0OOkdoc.            .,'.   .. .....     'lc.
     .:;,,::co0XOko'              ....''..'.'''''''.
     .dxk0KKdc:cdOXKl............. .. ..,c....
      .',lxOOxl:'':xkl,',......'....    ,'.
           .';:oo:...                        .
                .cd,      ╔═╗┌┬┐┬┌┬┐┌─┐┬─┐    .
                  .l;     ║╣  │││ │ │ │├┬┘    '
                    'l.   ╚═╝─┴┘┴ ┴ └─┘┴└─   '.
                     .o.                   ...
                      .''''','.;:''.........
                           .'  .l
                          .:.   l'
                         .:.    .l.
                        .x:      :k;,.
                        cxlc;    cdc,,;;.
                       'l :..   .c  ,
                       o.
                      .,

              ╦ ╦┬ ┬┌┐ ┬─┐┬┌┬┐  ╔═╗┌┐  ┬┌─┐┌─┐┌┬┐┌─┐
              ╠═╣└┬┘├┴┐├┬┘│ ││  ║ ║├┴┐ │├┤ │   │ └─┐
              ╩ ╩ ┴ └─┘┴└─┴─┴┘  ╚═╝└─┘└┘└─┘└─┘ ┴ └─┘ (not even) Alpha


 *
 *
 * Created by Valentin on 10/22/14.
 *
 * Copyright (c) 2015 Valentin Heun
 *
 * All ascii characters above must be included in any redistribution.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *

 **********************************************************************************************************************
 ******************************************** TODOS *******************************************************************
 **********************************************************************************************************************

 **
 * TODO -
 **

 **********************************************************************************************************************
 ******************************************** style content ***********************************************************
 **********************************************************************************************************************/
* {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
   -webkit-user-select: none;  /*   Disable selection/Copy of UIWebView */
}

body {
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;

    /* -webkit-user-select: none;  Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.main {
    -webkit-transform-style: preserve-3d;
    visibility: hidden;
    z-index: 1;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*-webkit-user-select: none;    Disable selection/Copy of UIWebView */
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.mainProgram {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background:repeating-linear-gradient(-45deg, transparent, transparent 22px, rgba(1, 255, 252, 0.5) 22px, rgba(1, 255, 252, 0.5) 44px);
    -webkit-filter: contrast(200%);
    /*border: 10px dashed green;*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.mainEditing {
    -webkit-transform-style: preserve-3d;
    position: fixed; /**/
    margin: 0;
    padding: 0;
    border-width: 0px;
    /* background-color: rgba(0, 0, 0, 1);*/
    z-index: 2;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}


.iframe {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    /*  -webkit-user-select: none;  Disable selection/Copy of UIWebView */
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.contentRotation {
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d(0, 0, 0) scale3d(1, 1, 1);

}

#consolelog {
    visibility: hidden;
    -webkit-transform-style: preserve-3d;

    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

#preferences {
    display: inline;
    visibility: hidden;
    -webkit-transform-style: preserve-3d;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #969696;

    -webkit-transform: translateZ(1px);
}

.Interfaces {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.interfaceSourceURL {
 /*   -webkit-user-select: text;*/
}

.Canvas {
    visibility: visible;
    -webkit-transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    z-index: 0;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}



.ios-toggle,.checkbox-label, #toggles, #editingModeSwitch, #extendedTrackingSwitch, #checkbox3, :before,:after{
     box-sizing:border-box;
     margin:0;
     padding:0;
     /*transition*/
     -webkit-transition:left .05s ease-in-out;
     outline:none;
     font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
 }

#toggles{
    width:60px;
    margin:50px auto;
    text-align:center;
}
.ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}
.checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    margin-bottom:20px;
    font-size:12px;
    line-height:16px;
    width:100%;
    height:36px;
    /*border-radius*/
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
}
.checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height:36px;
    width:36px;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    color:#bfbfbf;
    white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
}
/* GREEN CHECKBOX */

#editingModeSwitch + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
#editingModeSwitch:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
#editingModeSwitch:checked + .checkbox-label:after{
    color:rgba(19,191,17,1);
}
/* RED CHECKBOX */


#extendedTrackingSwitch + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
#extendedTrackingSwitch:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
#extendedTrackingSwitch:checked + .checkbox-label:after{
    color:rgba(19,191,17,1);
}
/* BLUE CHECKBOX */

#checkbox3 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px #1fc1c8,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
    -moz-box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
    box-shadow:inset 0 0 0 20px #1fc1c8,0 0 0 2px #1fc1c8;
}
#checkbox3:checked + .checkbox-label:after{
    color:#1fc1c8;
}